In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaduna,NG,2021-07-24 18:32:45,10.5222,7.4383,69.42,95,95,5.32
1,1,Tuktoyaktuk,CA,2021-07-24 18:29:23,69.4541,-133.0374,57.20,62,40,18.41
2,2,Jamestown,US,2021-07-24 18:32:45,42.0970,-79.2353,80.19,61,20,7.00
3,3,Ondjiva,AO,2021-07-24 18:32:46,-17.0667,15.7333,59.54,16,0,7.81
4,4,Vila Velha,BR,2021-07-24 18:30:54,-20.3297,-40.2925,75.15,60,40,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 10.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 10.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 10.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 10.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Jamestown,US,2021-07-24 18:32:45,42.0970,-79.2353,80.19,61,20,7.00
4,4,Vila Velha,BR,2021-07-24 18:30:54,-20.3297,-40.2925,75.15,60,40,9.22
12,12,Butaritari,KI,2021-07-24 18:29:16,3.0707,172.7902,83.52,73,19,18.10
18,18,Puerto Ayora,EC,2021-07-24 18:24:44,-0.7393,-90.3518,82.36,81,31,8.01
22,22,Kaseda,JP,2021-07-24 18:31:20,31.4167,130.3167,77.85,83,100,19.17
27,27,Hithadhoo,MV,2021-07-24 18:28:39,-0.6000,73.0833,82.42,77,48,12.17
28,28,Katsuura,JP,2021-07-24 18:25:46,35.1333,140.3000,80.11,85,0,7.11
42,42,Georgetown,MY,2021-07-24 18:26:50,5.4112,100.3354,84.88,82,20,1.01
44,44,Albany,US,2021-07-24 18:30:11,42.6001,-73.9662,83.62,47,56,5.99
49,49,Southbridge,US,2021-07-24 18:32:57,42.0751,-72.0334,84.25,48,20,1.01

In [44]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Jamestown      US     80.19  42.0970  -79.2353
4     Vila Velha      BR     75.15 -20.3297  -40.2925
12    Butaritari      KI     83.52   3.0707  172.7902
18  Puerto Ayora      EC     82.36  -0.7393  -90.3518
22        Kaseda      JP     77.85  31.4167  130.3167
27     Hithadhoo      MV     82.42  -0.6000   73.0833
28      Katsuura      JP     80.11  35.1333  140.3000
42    Georgetown      MY     84.88   5.4112  100.3354
44        Albany      US     83.62  42.6001  -73.9662
49   Southbridge      US     84.25  42.0751  -72.0334

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,80.19,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Vila Velha,BR,75.15,-20.3297,-40.2925,Quality Suites Vila Velha
12,Butaritari,KI,83.52,3.0707,172.7902,Isles Sunset Lodge
18,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Kaseda,JP,77.85,31.4167,130.3167,Sun Stay Kaseda
27,Hithadhoo,MV,82.42,-0.6000,73.0833,Scoop Guest House
28,Katsuura,JP,80.11,35.1333,140.3000,Katsuura Hotel Mikazuki
42,Georgetown,MY,84.88,5.4112,100.3354,Cititel Penang
44,Albany,US,83.62,42.6001,-73.9662,
49,Southbridge,US,84.25,42.0751,-72.0334,Southbridge Hotel & Conference Center

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [54]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))